/* .react-pdf__Document {
  background-color: #38383d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
} */

/* .react-pdf__Document {} */

body {
  background-color: #38383d;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-pdf__Page__svg {
  border: 1px solid rgb(87, 87, 87);
}

#info {
  display: none;
}

@media all and (orientation: portrait) {
  #info {
    display: block;
    color: green;
  }
}
